.game-lobby-page {

  #game-lobby-grid{
    height: 100%;
    padding-bottom: 47px;
  }

  .game-lobby-row{
    height: 40%
  }

  .game-lobby-card{
    height: 100%;
  }

  .start-button{
    margin-top: 40px;
  }


}
